@media screen and (max-width: 768px)
{
	body
	{
		
		font-size: 16px;
	}
	header
	{
		margin: 0 auto;
	}
	

	nav
	{
		
		margin: 0 auto;
	}
	
	nav ul li a
	{	
	color: #7A7A7A;
	font-family: 'Crete Round';
	font-size: 0.8em;
	font-weight: normal;
	margin: 0 0.3em 0 0;
	padding: 0.2em;
	text-decoration: none;
	text-align: left;
	}

}